@model RegisterViewModel
@{
    ViewBag.Title = "Registro de usuario";
}
<h1>Registro de usuario</h1>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-group">
                <label class="container" style="padding:0;" asp-for="Email"></label>
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                <input asp-for="Email" class="form-control" placeholder="Ingrese su dirección de e-mail" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="input-group">
                <label class="container" style="padding:0;" asp-for="Password"></label>
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-key"></i></span>
                <input asp-for="Password" class="form-control" placeholder="Ingrese su contraseña" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="input-group">
                <label class="container" style="padding:0;" asp-for="ConfirmPassword"></label>
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirme su contraseña" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form_container">
                <button type="submit" class="btn btn-success container">Registrarse</button>
            </div>
        </form>
    </div>
</div>

<style>
    .form_container {
        margin-top: 20px;
    }

    .form-control {
        padding: 15px;
    }
    
    .input-group{
        margin-bottom: 10px;
    }

    .input-group-text {
        background-color: #198754;
        color: white;
        border: none;
        padding: 20px;
    }

</style>