@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<h3>1. Información que recopilamos</h3>
<p>Recopilamos los siguientes tipos de información:</p>
<div>
    <ul>
        <li>Información personal: Nombre, Apellido, fecha de nacimiento, número de teléfono, y otros datos de contacto de los pacientes.</li>
        <li>Datos de salud: Información relacionada con diagnósticos médicos, historiales de tratamientos, resultados de pruebas y otros datos clínicos proporcionados por profesionales de salud autorizados.</li>
        <li>Datos de uso: Información sobre cómo interactúas con la app (como logins, actividades dentro de la app y preferencias).</li>
    </ul>
</div>

<h3>2. Uso de la información</h3>
<p>Utilizamos la información de los pacientes para los siguientes fines:</p>
<div>
    <ul>
        <li>Gestionar y actualizar las historias clínicas.</li>
        <li>Facilitar la consulta de los datos médicos por parte de profesionales autorizados.</li>
        <li>Proporcionar soporte técnico y mejorar las funcionalidades de la app.</li>
        <li>Cumplir con obligaciones legales relacionadas con la protección de datos de salud.</li>
    </ul>
</div>

<h3>3. Protección de la información</h3>
<p>Implementamos medidas técnicas y organizativas para proteger los datos personales y médicos, incluyendo cifrado de datos y acceso restringido a la información solo a personal autorizado. Sin embargo, no podemos garantizar una seguridad absoluta en la transmisión de datos a través de Internet.</p>

<h3>4. Compartir tu información</h3>
<p>No compartimos la información médica con terceros.</p>

<h3>5. Derechos del usuario</h3>
<p>
    Tienes derecho a:<br />
    Acceder, corregir o agregar información personal y/o médica de tus pacientes.
</p>

<h3>6. Retención de datos</h3>
<p>Retendremos la información médica de tus pacientes durante el tiempo necesario para cumplir con los fines para los cuales fue recopilada, o hasta que decidas eliminarla, de acuerdo con las regulaciones legales aplicables.</p>

<h3>7. Cambios en la política de privacidad</h3>
<p>Podemos actualizar esta política de privacidad de vez en cuando. Te notificaremos sobre cualquier cambio importante a través de la app o por correo electrónico.</p>

<h3> Contacto</h3>
<p>Si tienes preguntas o inquietudes sobre esta política de privacidad, por favor contáctanos a través de hclinicas@gmail.com.</p>

<p>Fecha de última actualización: 13 de noviembre de 2024.</p>